<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Настройки подключения к базе данных -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/mydatabase</property>
        <property name="connection.username">2005</property>
        <property name="connection.password">2005</property>

        <!-- Настройки диалекта -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Включение логирования -->
        <property name="show_sql">true</property>
    </session-factory>
</hibernate-configuration>
